[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
ariadne = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"

[dev-packages]
grip = "*"

[requires]
python_version = "3.7"
